* {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
}



@font-face {
	font-family: Titulo;
	src: url('fonts/Saiyan(DBZ).ttf');
		
	}

@font-face {
	font-family: Cuerpo;
	src: url('fonts/accidental.ttf');
	
}

.stroke1 {
    font-family: Titulo;
    src: url('fonts/Saiyan(DBZ).ttf');
    font-size: 500%;
-webkit-text-fill-color: yellow;
-webkit-text-stroke: 2px black;
display:inline;
   
}

.stroke2 {
    
    font-family: Titulo;
    src: url('fonts/Saiyan(DBZ).ttf');
    font-size: 600%;
-webkit-text-fill-color: orange;
-webkit-text-stroke: 2px black;
    display: inline;
 
  
}
.stroke3 {
    font-family: Titulo;
    src: url('fonts/Saiyan(DBZ).ttf');
    font-size: 500%;
-webkit-text-fill-color: red;
-webkit-text-stroke: 2px black;
display:inline;
   
}

.stroke4 {
    font-family: Titulo;
    src: url('fonts/Saiyan(DBZ).ttf');
    font-size: 250%;
-webkit-text-fill-color: yellow;
-webkit-text-stroke: 2px black;
display:inline;

}

.stroke5 {
    
    font-family: Titulo;
    src: url('fonts/Saiyan(DBZ).ttf');
    font-size: 250%;
-webkit-text-fill-color: orange;
-webkit-text-stroke: 2px black;
    display: inline;
 
  
}


body{
	
	font-family: Titulo, Cuerpo, Helvetica, Arial, Sans-serif;
    
    background-image: url(fondo/fondito.jpg);
    
    background-repeat: no-repeat;
    
    background-size:auto;
    
        margin: 2;
        padding: 2;
        border: 2;
        
}	

.destacat{
    
    font-family: fantasy;
    
    background-color: fuchsia;
    color: white;
    padding: 5px;      
}


.espan{
    
    font-family: serif;
    font-weight: bold;
    background-color: red;
    color: white;
    padding: 5px;
   
}


h1 {
	font-family: Titulo, Serif;
	font-size: 200%;
    text-shadow: rgb(90,90,90) 2px 2px 4px;
    color: red;
    
        margin: 20px;
        padding: 20;
        border: 20;
}

h2 {
	font-family: Titulo, Serif;
	font-size: 150%;
    text-shadow: rgb(90,90,90) 2px 2px 4px;
        
        margin: 20px;
        padding: 2;
        border: 20px;

}

p{
	font-family: Cuerpo, serif;

	font-size: 150%;
	line-height:1em;
	text-indent:2.5em;
	text-align:left;
    margin: 2;
        padding: 2;
        border: 2;

}


ul{
    
    font-family: Cuerpo, serif; 
	font-size: 100%;
    
        margin: 20px;
        padding: 20;
        border: 20px;
    
    
}

ol{
    
    font-family: Cuerpo, serif; 
	font-size: 100%;
    
     margin: 20px;
        padding: 20;
        border: 20px;

}


a:link, a:visited {
    background-color: #ffcc33;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: red;
}

.main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: none;
    display: inline;

}

.li-a{
    
    display: inline;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
    font-size: 120%;
    

}

.active{
    
    text-decoration: none;

    text-emphasis-color: aqua;
    
}
